/* Common styles */
body {
    margin: 0;
    padding: 0;
    background-color: #31363F; 
    font-family: Arial, sans-serif;
    color: #FFFFFF;
}

/* Header styles */
header {
    background-color: #222831; 
    position: relative;
    padding: 10px;
    display: flex;
    justify-content: space-between; /* Align items horizontally */
    align-items: center; /* Align items vertically */
}

header h1 {
    margin: 0; 
    padding-left: 5px;
    color: #76ABAE;
}

/* Sign-in button styles */
.signup-button {
    margin: 0;
    background-color: #76ABAE;
    color: #EEEEEE;
    border: 1px solid #EEEEEE;
    border-radius: 50px;
    padding: 10px 20px;
    cursor: pointer;
    outline: none;
    position: absolute;
    top: 50%; /* Adjust top position for responsiveness */
    right: 1%; /* Adjust right position for responsiveness */
    transform: translate(0%, -50%); /* Center vertically */
}

/* Language button styles */
.lang-button {
    margin: 0;
    background-color: #222831;
    color: #EEEEEE;
    border: 1px solid #EEEEEE;
    border-radius: 50px;
    padding: 10px 10px;
    cursor: pointer;
    outline: none;
    position: absolute;
    top: 50%; /* Adjust top position for responsiveness */
    right: calc(8% + 5px); /* Adjust right position for responsiveness */
    transform: translate(0%, -50%); /* Center vertically */
}

/* Get started button styles */
.getstarted-button {
    background-color: #76ABAE;
    color: #EEEEEE;
    border: none;
    border-radius: 50px;
    padding: 15px 20px; /* Adjust padding for smaller screens */
    cursor: pointer;
    outline: none;
    font-size: 20px;
    top: 80%; /* Adjust top position for responsiveness */
    left: 50%; /* Adjust left position for centering horizontally */
    transform: translateX(-50%); /* Center horizontally */
    position: absolute;
}

/* Content styles */
.content {
    color: #EEEEEE;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.content p {
    margin: 0;
    font-size: 3vw; /* Responsive font size based on viewport width */
    font-weight: bolder;
}

.content a {
    margin: 0;
    font-size: 2.5vw; /* Responsive font size based on viewport width */
    font-weight: lighter;
}

/* Background image styles */
.centered-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    background-image: url("../pics/bgpic.png");
    background-size: cover;
    background-blend-mode: multiply;
    width: 90%; 
    height: 90%;
    background-color: #31363F;
}

/* Responsive design - Desktop to Tablet breakpoint */
@media screen and (max-width: 1024px) {
    header {
        padding: 5px; /* Adjust header padding for smaller screens */
    }
    
    .getstarted-button {
        padding: 10px 15px; /* Adjust padding for smaller screens */
        font-size: 18px; /* Adjust font size for smaller screens */
    }

    .lang-button {
        padding: 6px 6px;
    }

    .signin-button {
        padding: 7px 12px;
    }
}

/* Responsive design - Tablet to Phone breakpoint */
@media screen and (max-width: 768px) {
    header {
        padding: 5px; /* Adjust header padding for smaller screens */
    }
    
    .getstarted-button {
        padding: 10px 10px; /* Adjust padding for smaller screens */
        font-size: 16px; /* Adjust font size for smaller screens */
    }

    .signin-button{
        padding: 6px 6px;
    }

    .lang-button {
        padding: 6px 6px;
        right: calc(8% + 5px);
    }
}
