
/* Common styles */
body {
    margin: 0;
    padding: 0;
    background-color: #31363F; 
    font-family: Arial, sans-serif;
    color: #FFFFFF;
}


/* Header styles */
header {
    background-color: #222831; 
    position: relative;
    padding: 10px;
    display: flex;
    justify-content: space-between; /* Align items horizontally */
    align-items: center; /* Align items vertically */
}

header h1 {
    margin: 0; 
    padding-left: 5px;
    color: #76ABAE;
}

/* Language button styles */
.lang-button {
    margin: 0;
    background-color: #222831;
    color: #EEEEEE;
    border: 1px solid #EEEEEE;
    border-radius: 50px;
    padding: 10px 10px;
    cursor: pointer;
    outline: none;
    position: absolute;
    top: 50%; /* Adjust top position for responsiveness */
    right: 1%; /* Adjust right position for responsiveness */
    transform: translate(0%, -50%); /* Center vertically */
}

/* Background container styles */
.background-container {
    position: absolute;
    top: 1%;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
}

/* Signup card styles */
.signup-card {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50px;
    transform: translate(-50%, -50%);
    width: 30%; 
    height: 85%;
    background-image: url("../pics/signin_card.png");
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center; 
    background-color: #31363F;
    margin: auto;
    z-index: -1;
}

.background-container p {
    margin: 0;
    text-align: left;
    position: absolute;
    transform: translate(-50%, -50%);
}

.p0 {
    margin: 0;
    color: #222831;
    top: 17%;
    left: 43%;
    font-size: 2vw;
    font-weight: bold;
}

.p1 {
    margin: 0;
    color: #222831;
    top: 22%;
    left: 44.5%;
    font-size: 1.5vw;
}

.p2 {
    margin: 0;
    color: #222831;
    top: 22%;
    left: 56%;
    font-size: 1.5vw;
}

.input-field {
    margin: 20px 0;
    padding: 10px;
    border-radius: 50px;
    border: 1px solid #EEEEEE;
    background-color: #31363F;
    color: #EEEEEE;
    width: 95%;
    position: relative;
    top: 25%;
}

.signup-button {
    margin: 0;
    background-color: #76ABAE;
    color: #EEEEEE;
    font-size: 1vw;
    border: 1px solid #EEEEEE;
    border-radius: 50px;
    padding: 10px 50px;
    cursor: pointer;
    outline: none;
    position: relative;
    top: 55%;
    left: 28%; 
    transform: translate(0%, -50%);
}


/* Responsive design - Desktop to Tablet breakpoint */
@media screen and (max-width: 1024px) {
    header {
        padding: 5px; 
    }

    .lang-button {
        padding: 6px 6px;
    }

}

/* Responsive design - Tablet to Phone breakpoint */
@media screen and (max-width: 768px) {
    header {
        padding: 5px; 
    }


    .lang-button {
        padding: 6px 6px;
    }
}
