body {
    margin: 0;
    padding: 0;
    background-color: #31363F;
    font-family: Arial, sans-serif;
    color: #FFFFFF;
    overflow: visible;
}

header {
    background-color: #222831;
    position: relative;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
    padding-left: 5px;
    color: #76ABAE;
}

.signup-button {
    margin: 0;
    background-color: #76ABAE;
    color: #EEEEEE;
    border: 1px solid #EEEEEE;
    border-radius: 50px;
    padding: 10px 20px;
    cursor: pointer;
    outline: none;
    position: absolute;
    top: 50%;
    right: 1%;
    transform: translate(0%, -50%);
}

.lang-button {
    margin: 0;
    background-color: #222831;
    color: #EEEEEE;
    border: 1px solid #EEEEEE;
    border-radius: 50px;
    padding: 10px 10px;
    cursor: pointer;
    outline: none;
    position: absolute;
    top: 50%;
    right: calc(8% + 5px);
    transform: translate(0%, -50%);
}

.p0, .p1, .p2, .p3 {
    position: absolute;
    transform: translate(-50%);
    margin: 0;
    color: #EEEEEE;
    top: 35%;
    font-size: 1vw;
}

.p0 { left: 35%; }
.p1 { left: 45%; }
.p2 { left: 55%; }
.p3 { left: 65%; }

.p4,
.p5,
.p6,
.p7,
.p8,
.p9,
.p10,
.p11 {
    margin: 0;
    color: #EEEEEE;
    font-size: 1.3vw;
    text-align: left;
}

.p5 {
    white-space: break-spaces;
}

.additional-info {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left-info,
.right-info {
    flex: 1;
    margin-right: 20px;
}

.movieposter {
    width: 250px;
    height: auto;
    z-index: 1;
}

.trailer {
    margin: 0;
    background-color: #76ABAE;
    color: #EEEEEE;
    border: 1px solid #EEEEEE;
    border-radius: 50px;
    padding: 10px 35px;
    cursor: pointer;
    outline: none;
    font-size: 1.5vw;
    margin-top: 20px;
}

@media screen and (max-width: 1024px) {
    header {
        padding: 5px;
    }

    .lang-button {
        padding: 6px 6px;
    }

    .signup-button {
        padding: 7px 12px;
    }
}

@media screen and (max-width: 768px) {
    header {
        padding: 5px;
    }

    .signup-button {
        padding: 6px 6px;
    }

    .lang-button {
        padding: 6px 6px;
        right: calc(8%);
    }

    .container {
        padding: 20px;
    }

    .movieposter {
        width: 100%;
    }

    .trailer {
        width: 100%;
    }

    .text-container {
        text-align: center;
    }
}