body {
    margin: 0;
    padding: 0;
    background-color: #31363F; 
    font-family: Arial, sans-serif;
    color: #FFFFFF;
    overflow: visible;
}

header {
    background-color: #222831; 
    position: relative;
    padding: 10px;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

header h1 {
    margin: 0; 
    padding-left: 5px;
    color: #76ABAE;
}

.signup-button {
    margin: 0;
    background-color: #76ABAE;
    color: #EEEEEE;
    border: 1px solid #EEEEEE;
    border-radius: 50px;
    padding: 10px 15px;
    cursor: pointer;
    outline: none;
    position: absolute;
    top: 50%; 
    right: 1%;
    transform: translate(0%, -50%); 
}

.lang-button {
    margin: 0;
    background-color: #222831;
    color: #EEEEEE;
    border: 1px solid #EEEEEE;
    border-radius: 50px;
    padding: 10px 10px;
    cursor: pointer;
    outline: none;
    position: absolute;
    top: 50%; 
    right: 8%;
    transform: translate(0%, -50%); 
}

.p0, .p1, .p2, .p3 {
    position: absolute;
    transform: translate(-50%);
    margin: 0;
    color: #EEEEEE;
    top: 35%;
    font-size: 1vw;
}

.p0 { left: 35%; }
.p1 { left: 45%; }
.p2 { left: 55%; }
.p3 { left: 65%; }

.p4 {
    position: absolute;
    text-align: center;
    transform: translate(-50%);
    margin: 0;
    color: #EEEEEE;
    top: 15%;
    left: 50%;
    font-size: 1.5vw;
}

.search-container {
    position: absolute;
    text-align: center;
    transform: translate(-50%);
    color: #222831;
    top: 20%; 
    left: 50%;
    width: 100%;
}

.search-bar {
    padding: 10px;
    color: #000000; 
    background-color: #FFFFFF;
    border: 1px solid #EEEEEE;
    border-radius: 50px;
    width: 400px; 
    font-size: 1vw;
}

.p5 {
    position: absolute;
    text-align: center;
    font-weight: lighter;
    transform: translate(-50%);
    margin: 0;
    color: #EEEEEE;
    top: 35%;
    left: 5%;
    font-size: 2vw;
}

.p6 {
    position: absolute;
    text-align: center;
    font-weight: lighter;
    transform: translate(-50%);
    margin: 0;
    color: #EEEEEE;
    top: 100%;
    left: 5%;
    font-size: 2vw;
}

.p7 {
    position: absolute;
    text-align: center;
    font-weight: lighter;
    transform: translate(-50%);
    margin: 0;
    color: #EEEEEE;
    top: 165%;
    left: 6%;
    font-size: 2vw;
}

.toggle-button {
    margin: 0;
    background-color: #76ABAE;
    color: #EEEEEE;
    border: 1px solid #EEEEEE;
    border-radius: 50px;
    padding: 7px 20px;
    cursor: pointer;
    outline: none;
    position: absolute;
    font-size: 1vw;
}

.toggle-button[data-section="T"] { top: 35%; }
.toggle-button[data-section="L"] { top: 100%; }
.toggle-button[data-section="U"] { top: 165%; }

.toggle-button[data-type="movie"] {
    left: 12%;
}

.toggle-button[data-type="tv"] {
    left: 20%;
}

.container {
    position: absolute;
    display: flex;
    overflow-x: auto; 
    flex-wrap: nowrap;
    scroll-behavior: smooth;
    overflow-y: hidden; 
    width: 100%; 
}

#containerT { top: 40%; }
#containerL { top: 105%; }
#containerU { top: 170%; }

.container::-webkit-scrollbar {
    display: none;
}

.genre-dropdown {
    display: none;
    position: absolute;
    top: 50px;
    left: 35%;
    background-color: #222831;
    border: 1px solid #EEEEEE;
    border-radius: 5px;
    padding: 10px;
    z-index: 1000;
}

.genre-dropdown ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.genre-dropdown ul li {
    padding: 5px 10px;
    cursor: pointer;
    color: #EEEEEE;
}

.genre-dropdown ul li:hover {
    background-color: #76ABAE;
}

.movies-dropdown {
    display: none;
    position: absolute;
    top: 50px;
    left: 45%;
    background-color: #222831;
    border: 1px solid #EEEEEE;
    border-radius: 5px;
    padding: 10px;
    z-index: 1000;
}

.movies-dropdown ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.movies-dropdown ul li {
    padding: 5px 10px;
    cursor: pointer;
    color: #EEEEEE;
}

.movies-dropdown ul li:hover {
    background-color: #76ABAE;
}

.tvshows-dropdown {
    display: none;
    position: absolute;
    top: 50px;
    left: 55%;
    background-color: #222831;
    border: 1px solid #EEEEEE;
    border-radius: 5px;
    padding: 10px;
    z-index: 1000;
}

.tvshows-dropdown ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.tvshows-dropdown ul li {
    padding: 5px 10px;
    cursor: pointer;
    color: #EEEEEE;
}

.tvshows-dropdown ul li:hover {
    background-color: #76ABAE;
}

.content-card {
    flex: 0 0 auto;
    width: 200px; 
    margin: 15px; 
    padding: 10px;
    background-color: #222831;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.content-card img {
    width: 100%;
    border-radius: 8px;
}

.content-name {
    color: #EEEEEE;
    font-size: 16px;
    margin-top: 10px;
}

.content-rating {
    color: #76ABAE;
    font-size: 14px;
    margin-top: 5px;
}

@media screen and (max-width: 1024px) {
    header {
        padding: 5px;
    }
    
    .getstarted-button {
        padding: 10px 15px;
        font-size: 18px;
    }

    .lang-button {
        padding: 6px 6px;
    }

    .signup-button {
        padding: 7px 12px;
    }
}

@media screen and (max-width: 768px) {
    header {
        padding: 5px; 
    }
    
    .getstarted-button {
        padding: 10px 10px; 
        font-size: 16px; 
    }

    .signup-button{
        padding: 5px 5px;
    }

    .lang-button {
        padding: 5px 5px;
        right: calc(10% + 5px);
    }

    .toggle-button {
        margin-right: 10px; 
    }
}
